<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <%- include('../../partials/sidebar') %>
        <!-- Main Content -->
        <div class="ml-64">
            <%- include('../../partials/header') %>
                <!-- Dashboard Content -->
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <h1 class="text-2xl mb-5 text-gray-700 font-medium">Sub Category</h1>

                    <!-- Table -->
                    <div class="overflow-x-auto">
                        <table class="min-w-full bg-white">
                            <thead class="bg-gray-800 text-white">
                                <tr>
                                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Sr</th>
                                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                        Sub Category Name
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                        Category Name
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-700">
                                <% subCategories.forEach((subcategory,index)=>{ %>
                                    <tr class="border">
                                        <td class="px-6 border py-4 whitespace-nowrap">
                                            <%=index+1 %>
                                        </td>
                                        <td class="px-6 border py-4 whitespace-nowrap">
                                            <%=subcategory.name %>
                                        </td>
                                        <td class="px-6 border py-4 whitespace-nowrap">
                                            <% if(subcategory.categoryId){ %>
                                                <%=subcategory.categoryId.name %>
                                                    <% } %>
                                        </td>
                                        <td class="px-6 py-4 border whitespace-nowrap">
                                            <!-- <a class="bg-blue-600 text-white px-2 py-1 mx-2"
                                                href="/subcategory/edit/<%=subcategory._id%>">Edit</a> -->
                                            <a class="bg-red-600 text-white px-2 py-1 mx-2"
                                                href="/subcategory/delete/<%=subcategory._id%>">Delete</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
</body>